body {
    margin: 0px;
}
/* ------------------------------------------------------ */
.first-div {
    background-color: #1F2937;
    height: 500px;
}

.first-div .header {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 15px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #F9FAF8;
}

.link {
    margin: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
}

.hlink {
    margin: 0px 10px;
}

/* ------------------------ */
.head-content {
    display: flex;
    justify-content: space-around;
}

.head-left-content {
    width: 30%;
}

.head-left-content .main-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    margin: 30px auto;
}

.head-left-content .sub-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    margin: 30px auto;
}

.hero-btn {
    height: 30px;
    width: 100px;
    border-radius: 10%;
    color: #F9FAF8;
    font-weight: 800;
    background-color: #3883F6;
    margin: 20px auto;
}

.head-right-content {
    width: 30%;
}

.head-right-content .hero-image {
    height: 100px;
    width: 100px;
    margin: 40px 0px;
}

/* ------------------------------------------------------ */
.second-div {
    height: 400px;
    width: 100%;
}

.second-div .heading {
    margin: 50px;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.second-div .boxes {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.second-div .box {
    margin: 40px;
    /* border: 6px solid skyblue; */
    /* border-radius: 20px; */
    height: 180px;
    width: 180px;
}

.second-div .box .actual-box {
    /* margin: 40px; */
    border: 6px solid skyblue;
    border-radius: 20px;
    height: 160px;
    width: 160px;
}

.second-div .box .actual-text {
    margin: 4px;
}

/* ------------------------------------------------------ */
.third-div {
    height: 400px;
    background-color: #E5E7EB;
}

.third-div .quote {
    padding: 100px;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.third-div .author {
    margin: auto 12px;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}

/* ------------------------------------------------------ */
.fourth-div {
    height: 400px;
}

.fourth-div .call-box{
    margin: 200px;
    height: 200px;
    background-color: #3883F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fourth-div .call-box .text-inside {
    height: 200px;
}

.fourth-div .call-box .text {
    font-size: 24px;
    color: #E5E7EB;
    margin: 20px 20px;
    padding: 20px;
    font-weight: 800;
}

.fourth-div .call-box .sub-text {
    font-size: 22px;
    color: #E5E7EB;
    text-align: center;
    margin: 20px 20px;
    padding: 20px;
}

.fourth-div .call-box .btn {
    height: 50px;
    width: 100px;
    font-size: 22px;
    border: 2px solid #E5E7EB;
    background-color: #3883F6;
    border-radius: 4px;
    color: #E5E7EB;
    text-align: center;
    margin: 20px;
}

/* ------------------------------------------------------ */
.fifth-div {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifth-div .text {
    font-size: 18px;
    color: #E5E7EB
}